{include file='templates/header.tpl' pageTitle='Home'}

<article id="influencer-dashboard">
    <div class="container">

        <!-- ==================== -->
        <!-- User avatar and name  -->
        <section id="user-line">
            <img src="http://placehold.it/120x120" alt="avatar" class="img-responsive img-circle center-block" />
            <p>Kevin Adriana</p>
        </section>

        <!-- =================================== -->
        <!-- Global Follows and Campaign numbers  -->
        <section id="overview-numbers">
            <ul>
                <li class="global-follows">
                    <span class="txt-blue">5,654,987</span>
                    <p>Global Follows</p>
                </li>
                <li class="campaigns">
                    <span class="txt-blue">103</span>
                    <p>Campaigns</p>
                </li>
            </ul>
        </section>

        <!-- ============== -->
        <!-- Message Center  -->
        <section id="message-center">
            <h1>Message Center</h1> <span class="float-right outline-green">03</span>
            <ul>
                <li>
                    <h2>New Contact</h2> <span class="float-right">Today</span>
                    <p>Kevin, we have a new contract ready for you</p>
                    <span class="icon icon-oval-filled"></span>
                </li>
                <li>
                    <h2>Campaigns</h2> <span class="float-right">Sept. 18</span>
                    <p>Kevin, we have a new contract ready for you</p>
                </li>
                <li>
                    <h2>New Contact</h2> <span class="float-right">Aug. 28</span>
                    <p>Kevin, we have a new contract ready for you</p>
                </li>
            </ul>
            <button class="btn-blue">View all 37 Messages</button>
        </section>

        <!-- ========= -->
        <!-- Analytics -->
        <section id="analytics">
            <h1>Analytics</h1>

            <div class="circle-graphs">
                <a href="#"><span class="icon icon-triangle-left"></span></a><h3>September 2014</h3><a href="#"><span class="icon icon-triangle-right"></span></a>
                <ul>
                    <!-- left circle -->
                    <li>
                        <div class="circlestat"
                            data-dimension="110" data-text="13%" data-info=""
                            data-width="20" data-fontsize="14" data-percent="13"
                            data-fgcolor="#00A5FF" data-bgcolor="#4E738B">
                        </div>
                        <p>Total Reach</p>
                    </li>

                    <!-- center circle  -->
                    <li>
                        <div class="circlestat"
                            data-dimension="110" data-text="57%" data-info=""
                            data-width="20" data-fontsize="14" data-percent="57"
                            data-fgcolor="#11CBC5" data-bgcolor="#4E738B">
                        </div>
                        <p>Campaigns Viewed</p>
                    </li>

                    <!-- right circle  -->
                    <li>
                        <div class="circlestat"
                            data-dimension="110" data-text="13%" data-info=""
                            data-width="20" data-fontsize="14" data-percent="13"
                            data-fgcolor="#25C4A4" data-bgcolor="#4E738B">
                        </div>
                        <p>Posts</p>
                    </li>
                </ul>
            </div>

            <div class="highcharts-orange"></div>

        </section>

        <!-- ================ -->
        <!-- Active Campaigns -->
        <section id="active-campaigns">
            <h1>Active Campaigns</h1> <span class="float-right outline-green">03</span>

            <!-- first item  -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/square-music.png" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">iTunes Festival</h4>
                    <ul class="active-campaigns-time">
                        <li>
                            <span class="txt-blue">03</span><br />
                            <span class="txt-graylight">days</span>
                        </li>
                        <li>
                            <span class="txt-blue">18</span><br />
                            <span class="txt-graylight">hours</span>
                        </li>
                        <li>
                            <span class="txt-blue">47</span><br />
                            <span class="txt-graylight">min</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- second item -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/square-movie.png" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">The Giver</h4>
                    <ul class="active-campaigns-time">
                        <li>
                            <span class="txt-blue">03</span><br />
                            <span class="txt-graylight">days</span>
                        </li>
                        <li>
                            <span class="txt-blue">18</span><br />
                            <span class="txt-graylight">hours</span>
                        </li>
                        <li>
                            <span class="txt-blue">47</span><br />
                            <span class="txt-graylight">min</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- third item -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/square-game.png" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Destiny</h4>
                    <ul class="active-campaigns-time">
                        <li>
                            <span class="txt-blue">03</span><br />
                            <span class="txt-graylight">days</span>
                        </li>
                        <li>
                            <span class="txt-blue">18</span><br />
                            <span class="txt-graylight">hours</span>
                        </li>
                        <li>
                            <span class="txt-blue">47</span><br />
                            <span class="txt-graylight">min</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- ======== -->
        <!-- Payments -->
        <section id="payments">
            <h1>Payments</h1>
            <ul>
                <li>
                    <p><span class="icon icon-arrow-right"></span> <span class="txt-semibold">Received</span></p>
                    <p class="payment-amount">$3,729.89</p>
                    <p class="txt-graylight">September 9, 2014</p>
                </li>
                <li>
                    <p><span class="icon icon-arrow-right"></span> <span class="txt-semibold">Received</span></p>
                    <p class="payment-amount">$3,204.14</p>
                    <p class="txt-graylight">August 12, 2014</p>
                </li>
                <li>
                    <p><span class="icon icon-arrow-right"></span> <span class="txt-semibold">Received</span></p>
                    <p class="payment-amount">$3,204.14</p>
                    <p class="txt-graylight">August 12, 2014</p>
                </li>
            </ul>
        </section>

        <!-- ======== -->
        <!-- Payments -->
        <section id="contacts">
            <h1>Contacts</h1>
            <ul>
                <li>
                    <p class="txt-semibold">Received</p>
                    <p class="txt-graylight">September 9, 2014 - Septempber 12, 2016</p>
                </li>
                <li>
                    <p class="txt-semibold">Received</p>
                    <p class="txt-graylight">September 9, 2014 - Septempber 12, 2016</p>
                </li>
            </ul>
        </section>

    </div>
</article>


<script src="/js/circliful.min.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>
<script>
    $(function () {
        $('.circlestat').circliful();
    });
</script>
<script type="text/javascript">
    $(function () {
        $('.highcharts-orange').highcharts({
            chart: {
                backgroundColor: '#fc5e63',
                type: 'area',
                height: 240,
            },
            title: {
                text: ''
            },
            subtitle: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            xAxis: {
                tickmarkPlacement: 'on',
                labels: {
                    align: 'left',
                    style: {
                        color: "#fff"
                    }
                },
                title: {
                    enabled: false
                },
                gridLineColor: '#ffffff',
                lineColor: '#ffffff'
            },
            yAxis: {
                title: {
                    enabled: false
                },
                labels: {
                    enabled: false
                },
            },
            tooltip: {
                shared: true,
                valueSuffix: ' units'
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, 'rgba(255, 119, 0, 1)'],
                            [1, 'rgba(255, 255, 255, 0)']
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        fillColor: '#FFFFFF',
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: 'Graph',
                color: '#ffffff',
                data: [10, 20, 10, 30, 30, 40, 50, 20, 50],
                pointInterval: 1
            }]
        });
    });
</script>


{include file='templates/footer.tpl'}
