{include file='templates/header.tpl' pageTitle='Influencer'}

<div class="container">
	<section id="finish">
		<p class="thanks">Thanks for joining the Instafluence network.</p>
		<p class="msg">We would love to hear from you with any questions you have.  You can email me directly at <a href="mailto:austin@instafluence.com">austin@instafluence.com</a> to discuss campaigns, pricing, and contracts.  Thanks again!</p>
		<a class="btn btn-default cyan-outline-btn" id="dashBtn" href="/account/">Go To Your Dashboard</a>
	</section>
</div>

<script type="text/javascript" src="/lib/select2/select2.min.js"></script>

{include file='templates/footer.tpl'}