/* Custom Responsive */

/**************************************************
			Desktop and larger
***************************************************/
@media (max-width: 1024px) { 

}

/**************************************************
			Desktop and Smaller
***************************************************/
@media (max-width: 979px) { 
	.loginpage .container {
		height: 100%;
	}
	.login {
		margin:0 auto;
		top:25%;
	}
}

/**************************************************
				Ipad Portrait
***************************************************/
@media (max-width: 770px) {


}

/**************************************************
			Smaller than Ipad
***************************************************/
@media (max-width: 765px) {


}
 
/**************************************************
			Phone Horizontal
***************************************************/
@media (max-width: 680px) { 

}

/**************************************************
			Phone Vertical
***************************************************/
@media (max-width: 479px) { 


}



