//**********
//  Colors
//**********

$white: #ffffff;
$whitegray: #f6f6f6;

$black: #000000;
$blacklight: #666666;

$blue: #5dc7d6;
$green: #25c4a4;
$red: #fc5e63;

$graylight: #c5c7d0;
$gray: #83858f;
$graydark: #656874;
$graydarker: #434851;

$facebook: #3b5998;
$twitter: #00aced;
$instagram: #948f81;
$vine: #00b48a;
$googleplus: #494949;
$youtube: red;
$linkedin: #6eb2d4;
$tumblr: #3d5873;
$wordpress: #545454;
$foursquare: #1fc0e2;
$pinterest: #e3262e;
$snapchat: #fffc00;

$facebook-lt: rgba(59,89,152,0.1);
$twitter-lt: rgba(0,172,237,0.1);
$instagram-lt: rgba(148,143,129,0.1);
$vine-lt: rgba(0,180,138,0.1);
$googleplus-lt: rgba(73,73,73,0.1);
$youtube-lt: rgba(255,0,0,0.1);
$linkedin-lt: rgba(110,178,212,0.1);
$tumblr-lt: rgba(61,88,115,0.1);
$wordpress-lt: rgba(84,84,84,0.1);
$foursquare-lt: rgba(31,192,226,0.1);
$pinterest-lt: rgba(227,38,46,0.1);
$snapchat-lt: rgba(255,252,0,0.1);
