{include file='templates/header.tpl' pageTitle='App'}

{include file='templates/nav.tpl' activeTab='App'}

<div class="tab-pane" class="fade" id="app-tab">
	<section id="achieving-social-media-influence">
		<div class="container">
			<article>
				<h2>We work with social<br> media celebrities to<br> promote your app</h2>
				<img src="/img/icons.png">
			</article>
			<img src="/img/piclab.png">
		</div>
	</section>
	<section id="going-viral">
		<div class="container">
			<h2>Going Viral</h2>
			<p>If you have an app trying to climb to the top of the download charts, we can help you get there with our influencers.</p>
			<article>
				<img src="/img/piclab-icon.png">
				<p>When Pic Lab came to us wanting more downloads, we assembled our team of influencers to work their social magic on Vine, Instagram, Twitter and Facebook.</p>
			</article>
			<br class="clear">
			<h3>Influencers</h3>
			<div class="scroll">
				<ul>
					<li>
						<img class="networks" src="/img/influencer1.png"/>
						<div class="network"><img src="/img/social3.png"/></div>
						<p>187,000</p>
						<span>followers</span>
					</li>
					<li>
						<img class="networks" src="/img/influencer2.png"/>
						<div class="network"><img src="/img/social3.png"/></div>
						<p>1.2 Million</p>
						<span>followers</span>
					</li>
					<li>
						<img class="networks" src="/img/influencer3.png"/>
						<div class="network"><img src="/img/social3.png"/></div>
						<p>2.15 Million</p>
						<span>followers</span>
					</li>
					<li>
						<img class="networks" src="/img/influencer4.png"/>
						<div class="network"><img src="/img/social3.png"/></div>
						<p>1.88 Million</p>
						<span>followers</span>
					</li>
					<li>
						<img class="networks" src="/img/influencer5.png"/>
						<div class="network"><img src="/img/social3.png"/></div>
						<p>64,000</p>
						<span>followers</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="app-exposure">
		<div class="container">

		</div>
	</section>
	<section id="downloads">
		<div class="container">
			<h2>Downloads</h2>
			<p>Pic Lab's downloads skyrocketed thanks to our influencers, and the app still remains in the top of Photo and Video and Top grossing apps.</p>
			<img src="/img/iphone.png">
		</div>
	</section>
	<section id="app-followers">
		<div class="container">
			<article>
				<h3>Followers</h3>
				<p>Not only will your downloads increase, but we will also build a loyal audience of your own on Instagram and teach you how to promote through them.</p>
			</article>
			<img src="/img/piclab-followers.png"/>
		</div>
	</section>
	<section id="quote">
		<div class="container">
			<h3>"I will continue to strongly recommend Instafluence to all of my network."</h3>
			<p>–Roberto Nickson<br>
			Co-Founder/Creative Director @ Pic Lab</p>
		</div>
	</section>
	<section id="lets-talk">
		<div class="container">
			<h2>Let's Talk</h2>
			<p>When you’re ready to get your app or brand more exposure let us know and we’ll be happy to help you.</p>
			<button class="black-outline-btn" data-toggle="modal" data-target="#myModal">CONTACT US</button>
		</div>
	</section>
</div>

{include file='templates/contact_modal.tpl'}

{include file='templates/login_modal.tpl'}
		
{include file='templates/analytics.tpl'}

{include file='templates/footer.tpl'}