{include file='templates/header.tpl' pageTitle='Confirmation'}

<div class="screen confirmation-page">
	<div class="menu-container">
		<div id="bar1" class="menu-bar"></div>
		<div id="bar2" class="menu-bar"></div>
		<div id="bar3" class="menu-bar"></div>
	</div>
	<section id="side-bar">
		<a href="index.html">	
			<img src="img/side-logo.png"/>
		</a>
		<ul>
			<a href="/about-instafluence/"><li>ABOUT US</li></a>
			<!-- <a href="brands.html"><li>BRANDS</li></a> -->
			<a href="#contact"><li>CONTACT US</li></a>
			<a href="/blog/"><li>BLOG</li></a>
		</ul>
	</section>
	<section class="main">
		<div class="container">
			<h1>Thank you!</h1> 
			<h2>Your email has been sent</h2>
			<a href="/">Return Home</a>
		</div>
	</section>
</div>

{include file='templates/contact_modal.tpl'}

{include file='templates/login_modal.tpl'}

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 975121709;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "ycEcCPvYhw0Qrdr80AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/975121709/?label=ycEcCPvYhw0Qrdr80AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{include file='templates/analytics.tpl'}

{include file='templates/footer.tpl'}
