{include file='templates/header.tpl' pageTitle='Vine Marketing & Instagram Marketing Services'}

<section id="gateway">
	<ul>
		<li class="app">
			<h2>I have an App</h2>
			<a href="/app/"></a>
		</li>
		<li class="brand">
			<h2>I have a Brand</h2>
			<a href="/brand/"></a>
		</li>
		<li class="influencer">
			<h2>I am an Influencer</h2>
			<a href="/influencer/"></a>
		</li>
	</ul>
</section>

{include file='templates/contact_modal.tpl'}

{include file='templates/login_modal.tpl'}

{include file='templates/analytics.tpl'}
		
{include file='templates/footer.tpl'}
