{include file='templates/header.tpl' pageTitle='Influencer'}

{include file='templates/nav.tpl' activeTab='Influencer'}

<div class="tab-pane" class="fade" id="influencer-tab">
	<section id="influence-for-brands-and-apps">
		<div class="container">
			<h1>Start Influencing for Brands and Apps</h1>
			<p>Become one of our Social Network Gurus to market brands and mobile apps</p>
			<button class="black-outline-btn"  data-toggle="modal" data-target="#myModal">CONTACT US</button>
			<img src="/img/icons-green.png"/>
		</div>
	</section>
	<section id="brand-connection">
		<div class="container">
			<ul>
				<li>
					<article>
						<h2>Brand Connection</h2>
						<p>Instafluence connects you, the influencer, to brands and apps that want to be able to communicate in a more meaningful way with an engaged and relevant audience. </p>
					</article>
				</li>
				<li>
					<img src="/img/connect.png"/>
				</li>
				<br class="clear">
			</ul>
			<ul>
				<li>
					<img src="/img/dollar.png"/>
				</li>
				<li>
					<article>
						<h2>Earn Extra Income </h2>
						<p>Have a social media following? Have a passion for pinning, posting and tweeting specific material? Earn money from what you already love doing.</p>
					</article>
				</li>
				<br class="clear">
			</ul>
		</div>
	</section>
	<section id="quote">
		<div class="container">
			<h3>"Working with Instafluence has been a fun, eye-opening experience. It has allowed me to expand my knowledge in ways I never imagined I could, and meet amazing people along the way.  Instafluence doesn't treat you like a customer, they treat you like a friend."</h3>
			<p>–Ross Smith (influencer)</p>
		</div>
	</section>
	<section id="lets-talk">
		<div class="container">
			<h2>Let's Talk</h2>
			<p>When you want to start getting paid for marketing the brands and apps you love, lets get in touch.</p>
			<button class="black-outline-btn"  data-toggle="modal" data-target="#myModal">CONTACT US</button>
		</div>
	</section>
</div>

{include file='templates/contact_modal.tpl'}

{include file='templates/login_modal.tpl'}

{include file='templates/analytics.tpl'}

{include file='templates/footer.tpl'}