{include file='templates/header.tpl' pageTitle='Portfolio'}

<div id="portfolio-page" class="screen">

	<section id="title-text">
		<div class="container">
			<h2>Meet Our Clients</h2>
			<p>
				These companies have benefitted from using Instafluence to market their brands on Instagram and Vine.
			</p>
		</div>
	</section>

	<section id="brands">
		<div class="container">
			<ul class="grid">
				<li class="block">
					<div class="vcenter">
						<img src="/img/catemcnabb.png" alt="Cate McNabb" title="Cate McNabb">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/discrete.png" alt="Discrete" title="Discrete">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/arcsoft.png" alt="Arc Soft" title="Arc Soft">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/edelman.png" alt="Edelman" title="Edelman">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/scopely.png" alt="Scopely" title="Scopely">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/crowdstar.png" alt="Crowd Star" title="Crowd Star">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/lokai.png" alt="Lokai" title="Lokai">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/gap.png" alt="Gap" title="Gap">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/neff.png" alt="Neff" title="Neff">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/smule.png" alt="Smule" title="Smule">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/freshtops.png" alt="Freshtops" title="Freshtops">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/kisstixx.png" alt="Kisstixx" title="Kisstixx">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/wooga.png" alt="Wooga" title="Wooga">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/machinezone.png" alt="Machine Zone" title="Machine Zone">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/sexyhair.png" alt="Sexy Hair" title="Sexy Hair">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/dosequis.png" alt="Dos Equis" title="Dos Equis">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/goal_zero.png" alt="Goal Zero" title="Goal Zero">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/hp.png" alt="Hewlett-Packard" title="Hewlett-Packard">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/shop_it_to_me.png" alt="Shop It To Me" title="Shop It To Me">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/social_radar.jpg" alt="Social Radar" title="Social Radar">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/palisades_media_group_logo.png" alt="Palisades Media Group" title="Palisades Media Group">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/sun_bum.jpg" alt="Sun Bum" title="Sun Bum">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/chatbooks-logo.png" alt="Chatbooks" title="Chatbooks">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/pic_lab.jpg" alt="Pic Lab" title="Pic Lab">
					</div>
				</li>
				<li class="block">
					<div class="vcenter">
						<img src="/img/framebridge-logo-sm.png" alt="Framebridge" title="Framebridge">
					</div>
				</li>
			</ul>
		</div>
	</section>

</div>

{include file='templates/contact_modal.tpl'}

{include file='templates/login_modal.tpl'}

{include file='templates/analytics.tpl'}

{include file='templates/footer.tpl'}
