{include file='templates/header.tpl' pageTitle='Press'}

<div id="stories-page" class="screen">

	<section id="stories-banner">
		<h1>Instafluence in the News</h1>
		<p>Resources, blogs, articles, books, magazines that mention Instafluence</p>
		<img src="/img/down-arrow.png"/>
	</section>

	<!-- <section id="kit">
		<div class="container">
			<h1>Press Kit</h1>
			<p>Please use our <a href="">press kit</a> if you are writing any stories about Instafluence.<br> We would also like a copy of any written materials about us.</p>

			<button>Download</button>
		</div>
	</section> -->

	<section id="stories">

		<div class="story">
			<div class="container">
				<div class="left">
					<img src="/img/story1.jpg"/>
				</div>
				<div class="right">
					<h1><a href="http://pando.com/2014/04/30/how-a-florida-kids-stupid-app-saved-his-familys-home-and-landed-him-on-the-main-stage-of-facebooks-f8/" target="_blank">How a Florida Kid's &ldquo;Stupid App&rdquo; Saved...</a></h1>
					<h3>Pando Daily</h3>
					<h4>April 30, 2014</h4>
					<p>
						Michael Sayman is not your average tech entrepreneur. For one thing, he’s 17 years old and started making money off iOS apps at the age of 13, rivaling even Mark Zuckerberg’s babe-like founder status. He taught himself to code using online tutorials he found via Google. For another thing, he lives in Florida. His school doesn’t understand...
					</p>
				</div>
				<br class="clear"/>
			</div>
		</div>


		<div class="story">
			<div class="container">
				<div class="left">
					<img src="/img/story2.jpg"/>
				</div>
				<div class="right">
					<h1><a href="http://www.businessinsider.com/ios-developer-michael-sayman-2014-5"  target="_blank">A Teenager Who Taught Himself How to Code...</a></h1>
					<h3>Business Insider Australia</h3>
					<h4>May 16, 2014</h4>
					<p>
						It's not uncommon for developers to excel at an early age, but that doesn't make 17-year-old Michael Sayman any less impressive.
						The Miami native was not only featured in a video at Facebook's f8 developer conference last week, but his app 4Snaps has risen to the top of the iOS App Store, a feat that even seasoned developers have
					</p>
				</div>
				<br class="clear"/>
			</div>
		</div>


		<div class="story">
			<div class="container">
				<div class="left">
					<img src="/img/story3.jpg"/>
				</div>
				<div class="right">
					<h1><a href="http://9to5mac.com/2014/04/29/4snaps-word-game-for-ios-updated-to-version-2-0-with-a-new-look-and-gameplay-tweaks/" target="_blank">4 Snaps Word Game for iOS Updated to...</a></h1>
					<h3>9 To 5 Mac</h3>
					<h4>April 29, 2014</h4>
					<p>
						4Snaps, the creative new word game we first wrote about when it debuted last year, has gotten a big overhaul today with the launch of its 2.0 update. The new version brings a new design with a gesture-focused interface that bounces around playfully using the new UI physics found in iOS 7...
					</p>
				</div>
				<br class="clear"/>
			</div>
		</div>

	</section>

</div>

{include file='templates/contact_modal.tpl'}
		
{include file='templates/login_modal.tpl'}

{include file='templates/analytics.tpl'}

{include file='templates/footer.tpl'}
