<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">AlaCarte{% if curUser.isGlobalAdmin == false %} {{ curUser.group.name }}{% endif %}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul id="navList" class="nav navbar-nav">
				<li><a id="usersAndGroupsTabLink" href="/users">Users & Groups</a></li>
				<li><a id="apiAdminTabLink" href="/apiadmin">API</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<ul class="nav navbar-nav">
					{% if curUser is defined %}
						<li><div id="userLabel">{{ curUser.name }}</div></li>
					{% endif %}
					
					<li><button id="logOutBtn" class="btn btn-default btn-sm">Log Out</button></li>
				</ul>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

{{ include('js.twig') }}

<script type="text/javascript">
$(document).ready(function() {
	$("#navList").find('a[href="' + this.location.pathname + '"]').parent().addClass('active');
});
</script>