<div id="passwordModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Enter Password</h4>
			</div>
			<div class="modal-body">
				<form id="changePasswordForm" method="POST">
					<p>Please enter a new password for your account:</p>
					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" name="password" class="form-control" type="password" minlength="6" maxlength="22" required/>
					</div>
					<div class="form-group">
						<label for="password2">Repeat Password</label>
						<input id="password2" name="password2" class="form-control" type="password" minlength="6" maxlength="22" required/>
					</div>

					<input type="hidden" name="action" value="changePassword"/>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
				<button id="setPasswordBtn" type="button" class="btn btn-sm btn-primary">Set Password</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function() {

	{% if curUser.password == null %}
		var modal = $("#passwordModal");
		modal.modal();
	{% endif %}

	var changePasswordForm = $("#changePasswordForm");
	changePasswordForm.validate({
		rules: {
			password: "required",
			password2: {
				equalTo: "#password"
			}
		},
		messages: {
			password2: "Passwords do not match."
		}
	});
	$("#setPasswordBtn").click(function() {
		if (changePasswordForm.valid()) {
			changePasswordForm.submit();
		}
	});
});
</script>