{include file='templates/header.tpl' pageTitle='Sign Up'}

<div class="container signup-container">
	{include file='templates/influencer_profile_intro.tpl'}
	
	<section id="signup">
		<form class="form-horizontal" action="/signup/" method="POST" name="signup">

			<div class="form-group">
				<div class="col-md-offset-4 col-md-8 signup-error">
					{validation_errors()}
				</div>
			</div>
	
			<div class="form-group">
				<label for="first_name" class="col-md-4 control-label">First Name:</label>
				<div class="col-md-8">
					<input class="form-control" id="first_name" type="text" name="first_name" value="{if isset($post.first_name)}{$post.first_name}{/if}" autofocus />
				</div>
			</div>
	
			<div class="form-group">
				<label for="last_name" class="col-md-4 control-label">Last Name:</label>
				<div class="col-md-8">
					<input class="form-control" id="last_name" type="text" name="last_name" value="{if isset($post.last_name)}{$post.last_name}{/if}" />
				</div>
			</div>
	
			<div class="form-group">
				<label for="email" class="col-md-4 control-label">Email:</label>
				<div class="col-md-8">
					<input class="form-control" id="email" type="text" name="email" value="{if isset($post.email)}{$post.email}{/if}" />
				</div>
			</div>
	
			<div class="form-group">
				<label for="password" class="col-md-4 control-label">Password:</label>
				<div class="col-md-8">
					<input class="form-control" id="password" type="password" name="password" value="" />
				</div>
			</div>
	
			<div class="form-group">
				<label for="password_confirm" class="col-md-4 control-label">Retype Password:</label>
				<div class="col-md-8">
					<input class="form-control" id="password_confirm" type="password" name="password_confirm" value="" />
				</div>
			</div>
	
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<button type="submit" class="btn btn-default cyan-outline-btn">Sign Up</button>
				</div>
			</div>
			
		</form>
	</section>
</div>

{include file='templates/contact_modal.tpl'}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/static.js"></script>

{literal}<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->{/literal}

</body>
</html>