	<title>{$title}</title>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/reset.css">

	<!-- This style.css has the Default Colors -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/responsive.css">
	
	{if isset($skin)}
		<link rel="stylesheet" href="{$skin}">
	{/if}
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/templates/js/btn-events.js"></script>
	<script src="/templates/js/tz_detect.js"></script>

	<script src="/templates/js/util.js"></script>
	<script src="/templates/js/menu.js"></script>
	<script src="/templates/js/cart.js"></script>