<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<strong>A new order has been placed.</strong>
<br/><br/>
<span style="text-decoration: underline;">Order Details:</span>
<br/>
Order #: <strong>{orderNum}</strong>
<br/>
Total: <strong>{orderTotal}</strong>
<br/>
Name: <strong>{userName}</strong>
<br/>
Company: <strong>{companyName}</strong>
<br/>
Email: <strong><a href="mailto:{userEmail}">{userEmail}</a></strong>
<br/>
Phone: <strong>{phoneNumber}</strong>
<br/>
Account #: <strong>{accountNumber}</strong>
<br/>
Purchase Order #: <strong>{poNum}</strong>
<br/>
Comments: <strong>{comments}</strong>
<br/><br/>
<span style="text-decoration: underline;">{locationType}:</span>
<br/>
<strong>{location}</strong>
<br/><br/>
<span style="text-decoration: underline;">Items:</span>
<br/>
{products}
</body>
</html>